.jaychat-container{
	width:400px;
	height:500px;
	display: flex;
	flex-direction: column;
}

.jaychat-log{
	background-color: #9fa2b2;
	height:300px;
	overflow-y: auto;
	flex :1;
	display: inline-flex;
	flex-direction: column-reverse;
}

.jaychat-control {
	display: flex;
}

.jaychat-control input{
	background-color: whitesmoke;
	flex:1;
	margin: 5px;
}

.jaychatlogitem{
	margin-left:5px;
	margin-right: 5px;
	margin-bottom: 5px;;
	display: flex;
	background-color: #e3e3f1;
}

.jaychatlogitem div{
	display: inline-block;
	margin:2px;
	min-width:18px;
}

.jaychatlogitem p{
	margin: 1px;
	display: inline;
}

.jaychat-color{
	margin-top: 10px;
}